~/MABOS_core/MABOS_core/__pycache__/
~/MABOS_core/MABOS_core/plot/__pycache__/
~/MABOS_core/MABOS_core/mem/__pycache__/
~/MABOS_core/MABOS_core/data/__pycache__/
~/MABOS_core/MABOS_core/serial/__pycache__/
