sensor_core/__pycache__/
sensor_core/plot/__pycache__/
sensor_core/mem/__pycache__/
sensor_core/data/__pycache__/
sensor_core/serial/__pycache__/
sensor_core/examples/.ipynb_checkpoints/
*.sqlite3
*.bin
